.guidelines {
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 20px; // 모서리를 둥글게
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // 부드러운 그림자 추가
  }
  
  .guidelinesList {
    list-style-type: none;
    padding: 0;
  }
  
  .guidelineItem {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* 가운데 정렬 추가 */
    white-space: pre-wrap;
    word-break: keep-all;
  }