.accordionItem {
    margin-bottom: 1rem;
    border: 1px solid #0000005e;
    border-radius: 20px;
  }
  
  .accordionToggle {
    width: 100%;
    padding: 1rem;
    background-color: #dbd9d9;
    border: none;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    transition: transform 0.3s ease;
  
    &.open {
      transform: rotate(180deg);
    }
  }
  
  .accordionContent {
    padding: 1rem;
  }