.scrollVideoContainer {
    width: 100%;
    height: 1200vh; // 컨테이너 높이를 2배의 viewport 높이로 설정
    position: relative;
  }
  
  .scrollVideoWrapper {
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    overflow: hidden; // 추가: 오버레이가 비디오 영역을 벗어나지 않도록 함
  
    &.fixed {
      position: fixed;
      top: 0;
    }
  }
  
  .scrollVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fadeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; // 페이드 인/아웃 색상
    pointer-events: none; // 오버레이가 마우스 이벤트를 방해하지 않도록 함
  }


.loadingPlaceholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #ffffff;
}